*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    height: 12vh;
    padding: 0px 20px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    font-weight: 600;
}
.header-menu{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    text-transform: uppercase;
    cursor: pointer;
}
.header-menu a{
    text-decoration: none;
    color: black;
    
}
.header-menu a:hover{
    color: #ea5c32;
}
#actived {
    color: #ea5c32;
}
.header-icon {
    display:flex;
    flex-direction: row;
}
.header-icon svg{
    font-size: 24px;
    cursor: pointer;
    color:black
}
.header-icon:last-child svg{
    padding-left: 10px;
}
.header-icon-user button{
    background-color: white;
    border:none;
    outline: none;
}
#header-icon-user-display{
    display: none;
    height: auto;
    width: 100px;
    background-color: white;
    position: absolute;
    transform: translate(-30px,10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
#header-icon-user-display a{
    text-decoration: none;
    color: black;
}


/* Main */

/* Home */
.main {
    margin: auto ;
    width: 100%;
    background-color: #fceae6;
}
.main-new{
    width: 80%;
    margin: auto;
    padding: 80px 0;
    display: flex ;
    flex-direction: row;
    height: auto;
}
.main-new-content{
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    padding: 0px 50px 0 0;
    flex:1;
}
.main-new-content h3{
    font-size: 28px;
    color: #a06863;
}
.main-new-title{
    font-size: 64px;
    text-align: start;
    font-weight: 700;
}
.main-new-script{
    color:#30333a;
}

.main-new-content button{
    background-color: #946659;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.main-new-content button:hover{
    opacity: 0.8;
}
.main-new-content button:active{
    transform: translateY(2px);
}
.main-new-image{
    flex:1;
    display: flex;
    justify-content: center;
}
.main-new-image img{
    width: 80%;
    height: auto;
}


/* BOOKS */
.main-books{
    padding: 80px 0;
    width: 80%;
    margin: auto;
}
.main-search{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.main-search input{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: #30333a;
    width: 300px;
    height: 35px;
}
.main-search button{
    padding: 5px 10px;
    background-color:#946659;
    color :white;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.main-search button:hover {
    opacity: 0.8;   
}
.main-search button:active {
    transform: translateY(2px);
}


/* book-list */
#book-list-table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#book-list-table th {
    border: 2px solid #fff;
    padding: 8px;
    text-align: center;
}
#book-list-table td{
    border: 2px solid #946659;
    padding: 8px;
}
#book-list-table tr:nth-child(even){background-color: #f2f2f2;}

#book-list-table tr:hover {background-color: #ddd;}

#book-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #946659;
  color: white;
}


.book-item-image {
    max-width: 400px;
    min-width: 100px;
    
}


.handle-book-btn-wrapper{
    display: flex;
    flex-direction: column;
    gap:10px
}
.handle-book-btn a{
    color: white;
    text-decoration: none;

}

.handle-book-btn{
    padding: 5px 10px;
    background-color:#946659;
    color :white;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.create-book-btn{
    width: 200px;
    margin-top: 20px;
}


/* book details */
.book-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}
.book-details-title{
    font-size: 28px;
}
.book-details-image p{
    text-align: center;
}

/* create book */
#create-form ~ p{
    display: flex;
    margin-bottom: 20px;
}


/* category */

/* category list(category) */

/* category/create */

.category-create input{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: #30333a;
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
}




/* CART/VIEW */


/* ORDER CREATE */
.main-order{
    padding:50px
}

/* contact in style2.css */

/* footer */
.footer{
    height: 10vh;
    background-color: #30333a;
    color : #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}