*{
    
    scroll-behavior: smooth;
}


#about-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
    width: 100%;
}
.about-title h2{
    font-size: 42px;
    margin-bottom: 30px;
}
.about-details{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}
.about-left{
    flex:1;
}
.about-right{
    flex:1;
}
.about-main-title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
.about-main-script{
    font-size: 18px;
    padding-bottom: 20px;
}
.about-sign{
    font-size: 18px;
    font-weight: 600;
}
#contact-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
    width: 100%;
    background-color: #fceae6;
}

.contact-title h2{
    font-size: 42px;
    margin-bottom: 30px;
}
.contact-details{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}
.contact-right-title{
    margin-bottom: 30px;
    align-items: center;
}
.contact-right-top{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 16px;
}
.contact-form input[type="text"],select {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: #30333a;
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
  }
  .contact-form textarea {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: #30333a;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
  }
  .contact-form button{
    width:100%;
  }
  .contact-form button:active{
    transform: translateY(2px);
  }