{% extends 'baseBook.html' %} {% block content %}
<div class="book-details">
  <div class="book-details-title">
    <h1>{{ book.name }}</h1>
  </div>
  <div class="book-details-script">
    <p>Description: {{ book.description }}</p>
    <p>Price: {{ book.price }}</p>
    <p>Category: {{ book.category_id.name }}</p>
    <p>File: {{ book.file }}</p>
  </div>
  <div class='book-details-image'>
    <p>Image: 
      
    </p>
    <img class="book-item-image" src="{{ book.image.url}}" />
  </div>
  <div>
    {% if request.user.is_superuser %}
    <button class ='handle-book-btn'>
      <a href="{% url 'book:book_edit' book.pk %}">Edit</a> 
    </button>
    <button class ='handle-book-btn'>
      <a href="{% url 'book:book_delete' book.pk %}">Delete</a>
    </button>
    {% endif %}
  </div>
</div>
{% endblock %}
