{% extends 'baseBook.html' %}

{% block content %}
  <div class='category-list'>
    <div class='book-list-title'>
    <h1>Book List</h1>
    </div>
    <div>
      <table id='book-list-table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Chi tiet</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for category in category_list %}
            <tr>
              <td>{{ category.name }}</td>
               <td>
                <button class ='handle-book-btn'>
                  <a href="{% url 'book:bookOfCategory' category.category_id %}">Detail</a>  
                </button>
              </td> 
              {% if request.user.is_superuser %}
                 <td>
                  <button class ='handle-book-btn'>
                    <a href="{% url 'book:category_delete' category.category_id  %}">Delete</a>  
                  </button>
                   
                </td> 
                {% endif %}
            </tr>
          {% endfor %}
        </tbody>
        {% if request.user.is_superuser %}
        <button class ='handle-book-btn'>
          <a href="{% url 'book:category_create' %}">Create</a>   
        </button>
          
        {% endif %}
      </table>
    </div>
  </div>
  {% comment %} <a href="{% url 'book:book_create' %}">Create New Book</a> {% endcomment %}
{% endblock %}
