{% extends 'baseOrder.html' %}


{% block content %}
  <div class='book-list'>
    <h1>Order List</h1>
    <table id='book-list-table'>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td><a href="{% url 'orders:order_detail' order.order_id %}"> order {{ order.order_id }}</a></td>
            <td>{{ order.name }}</td>
            <td>{{ order.get_status_display }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">You have no orders.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
